WsGestPed/wsdl/WsGestPed_schema1.xsd

<xs:schema xmlns:tns="http://localhost:8080" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080" version="1.0">

  <xs:element name="obtenerPedidosNoSinc" type="tns:obtenerPedidosNoSinc"></xs:element>

  <xs:element name="obtenerPedidosNoSincResponse" type="tns:obtenerPedidosNoSincResponse"></xs:element>

  <xs:element name="obtenerPersonasNoSinc" type="tns:obtenerPersonasNoSinc"></xs:element>

  <xs:element name="obtenerPersonasNoSincResponse" type="tns:obtenerPersonasNoSincResponse"></xs:element>

  <xs:element name="recibirPedidosASinc" type="tns:recibirPedidosASinc"></xs:element>

  <xs:element name="recibirPedidosASincResponse" type="tns:recibirPedidosASincResponse"></xs:element>

  <xs:element name="recibirPersonasASinc" type="tns:recibirPersonasASinc"></xs:element>

  <xs:element name="recibirPersonasASincResponse" type="tns:recibirPersonasASincResponse"></xs:element>

  <xs:element name="recibirProductosASinc" type="tns:recibirProductosASinc"></xs:element>

  <xs:element name="recibirProductosASincResponse" type="tns:recibirProductosASincResponse"></xs:element>

  <xs:element name="servicioFuncional" type="tns:servicioFuncional"></xs:element>

  <xs:element name="servicioFuncionalResponse" type="tns:servicioFuncionalResponse"></xs:element>

  <xs:complexType name="obtenerPersonasNoSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramObtPersonasNoSinc" type="tns:ParamObtPersonasNoSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamObtPersonasNoSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDesde" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="fechaHasta" type="xs:date"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPersonasNoSincResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultObtPersonasNoSinc" type="tns:ResultObtPersonasNoSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultObtPersonasNoSinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPersFisica" nillable="true" type="tns:ResultPersonaFisica"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPersJuridica" nillable="true" type="tns:ResultPersonaJuridica"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPersonaFisica">
    <xs:sequence>
      <xs:element minOccurs="0" name="documento" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="tipoDoc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="tipoDocDesc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="apellido1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="apellido2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="nombre1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="nombre2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fechaNac" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="sexo" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="documentoAnt" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="direccion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="puerta" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="solar" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="manzana" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="km" type="xs:float"></xs:element>
      <xs:element minOccurs="0" name="complemento" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="telefono" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="celular" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fechaReg" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="tipoPers" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="localidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="origen" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ultAct" type="xs:date"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPersonaJuridica">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="bps" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="bse" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="esProv" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="rutAnt" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="direccion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="puerta" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="solar" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="manzana" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="km" type="xs:float"></xs:element>
      <xs:element minOccurs="0" name="complemento" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="telefono" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="celular" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="email" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fechaReg" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="tipoPers" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="localidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="origen" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ultAct" type="xs:date"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirPedidosASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramRecPedidosASinc" type="tns:ParamRecPedidosASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamRecPedidosASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoConfirmado" nillable="true" type="tns:ParamPedidoConfirmado"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidosASinc" nillable="true" type="tns:ParamPedidoASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamPedidoConfirmado">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamPedidoASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="fechaProg" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="horaProg" type="xs:time"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoLinea" nillable="true" type="tns:ParamPedidoLinea"></xs:element>
      <xs:element minOccurs="0" name="origen" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="total" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="ultAct" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamPedidoLinea">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idProducto" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="precioUnit" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirPedidosASincResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultRecPedidosASinc" type="tns:ResultRecPedidosASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultRecPedidosASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoConfirmado" nillable="true" type="tns:ResultPedidoConfirmado"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoSinc" nillable="true" type="tns:ResultPedidoASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPedidoConfirmado">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPedidoASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorServ" type="tns:ErrorServicio"></xs:element>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="servicioFuncional">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="servicioFuncionalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPedidosNoSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramObtPedidosNoSinc" type="tns:ParamObtPedidosNoSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamObtPedidosNoSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDesde" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="fechaHasta" type="xs:date"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPedidosNoSincResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultObtPedidosNoSinc" type="tns:ResultObtPedidosNoSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultObtPedidosNoSinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoNoSinc" nillable="true" type="tns:ResultPedidoNoSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPedidoNoSinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element minOccurs="0" name="estado" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="fechaProg" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="horaProg" type="xs:time"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPedidoLinea" nillable="true" type="tns:ResultPedidoLinea"></xs:element>
      <xs:element minOccurs="0" name="origen" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="total" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="ultAct" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPedidoLinea">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idProducto" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="precioUnit" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirPersonasASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramRecPersonasASinc" type="tns:ParamRecPersonasASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamRecPersonasASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPersSinc" nillable="true" type="tns:ParamPersonaSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamPersonaSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirPersonasASincResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultRecPersonasASinc" type="tns:ResultRecPersonasASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultRecPersonasASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaPersonaSinc" nillable="true" type="tns:ResultPersonaSinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultPersonaSinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idPersona" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirProductosASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramRecProductosASinc" type="tns:ParamRecProductosASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamRecProductosASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaProducto" nillable="true" type="tns:ParamProductoASinc"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaTipoProd" nillable="true" type="tns:ParamTipoProdASinc"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaUnidad" nillable="true" type="tns:ParamUnidadASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamProductoASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="aplIva" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="cantUnidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="codigo" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="estadoProd" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idProducto" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="precioVta" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="tipoProd" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="ultAct" type="xs:date"></xs:element>
      <xs:element minOccurs="0" name="unidad" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamTipoProdASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="estado" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idTipoProd" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamUnidadASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idUnidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sinc" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirProductosASincResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultRecProductosASinc" type="tns:ResultRecProductosASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultRecProductosASinc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="erroresServ" nillable="true" type="tns:ErrorServicio"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaProdSinc" nillable="true" type="tns:ResultProductoASinc"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaTpSinc" nillable="true" type="tns:ResultTipoProdASinc"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaUnidadSinc" nillable="true" type="tns:ResultUnidadASinc"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultProductoASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idProducto" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultTipoProdASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idTipoProd" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultUnidadASinc">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoSinc" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="idUnidad" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
