WsGestPed/wsdl/WsGestPed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WsGestPed" targetNamespace="http://192.168.1.2:8080" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://192.168.1.2:8080" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://192.168.1.2:8080" schemaLocation="WsGestPed_schema1.xsd"></import>
</schema>
  </wsdl:types>
  <wsdl:message name="servFuncional">
    <wsdl:part name="parameters" element="tns:servFuncional">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPedidosNoSincResponse">
    <wsdl:part name="parameters" element="tns:obtenerPedidosNoSincResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersonasNoSinc">
    <wsdl:part name="parameters" element="tns:obtenerPersonasNoSinc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirPersonasASincResponse">
    <wsdl:part name="parameters" element="tns:recibirPersonasASincResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirPedidosASincResponse">
    <wsdl:part name="parameters" element="tns:recibirPedidosASincResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirProductosASincResponse">
    <wsdl:part name="parameters" element="tns:recibirProductosASincResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersonasNoSincResponse">
    <wsdl:part name="parameters" element="tns:obtenerPersonasNoSincResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirPedidosASinc">
    <wsdl:part name="parameters" element="tns:recibirPedidosASinc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="servFuncionalResponse">
    <wsdl:part name="parameters" element="tns:servFuncionalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPedidosNoSinc">
    <wsdl:part name="parameters" element="tns:obtenerPedidosNoSinc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirPersonasASinc">
    <wsdl:part name="parameters" element="tns:recibirPersonasASinc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirProductosASinc">
    <wsdl:part name="parameters" element="tns:recibirProductosASinc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WsGestPed">
    <wsdl:operation name="servFuncional">
      <wsdl:input name="servFuncional" message="tns:servFuncional">
    </wsdl:input>
      <wsdl:output name="servFuncionalResponse" message="tns:servFuncionalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonasNoSinc">
      <wsdl:input name="obtenerPersonasNoSinc" message="tns:obtenerPersonasNoSinc">
    </wsdl:input>
      <wsdl:output name="obtenerPersonasNoSincResponse" message="tns:obtenerPersonasNoSincResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirPedidosASinc">
      <wsdl:input name="recibirPedidosASinc" message="tns:recibirPedidosASinc">
    </wsdl:input>
      <wsdl:output name="recibirPedidosASincResponse" message="tns:recibirPedidosASincResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPedidosNoSinc">
      <wsdl:input name="obtenerPedidosNoSinc" message="tns:obtenerPedidosNoSinc">
    </wsdl:input>
      <wsdl:output name="obtenerPedidosNoSincResponse" message="tns:obtenerPedidosNoSincResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirPersonasASinc">
      <wsdl:input name="recibirPersonasASinc" message="tns:recibirPersonasASinc">
    </wsdl:input>
      <wsdl:output name="recibirPersonasASincResponse" message="tns:recibirPersonasASincResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirProductosASinc">
      <wsdl:input name="recibirProductosASinc" message="tns:recibirProductosASinc">
    </wsdl:input>
      <wsdl:output name="recibirProductosASincResponse" message="tns:recibirProductosASincResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsGestPedSoapBinding" type="tns:WsGestPed">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="servFuncional">
      <soap:operation soapAction="servFuncional" style="document"/>
      <wsdl:input name="servFuncional">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="servFuncionalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonasNoSinc">
      <soap:operation soapAction="obtenerPersonasNoSinc" style="document"/>
      <wsdl:input name="obtenerPersonasNoSinc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPersonasNoSincResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirPedidosASinc">
      <soap:operation soapAction="recibirPedidosASinc" style="document"/>
      <wsdl:input name="recibirPedidosASinc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recibirPedidosASincResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPedidosNoSinc">
      <soap:operation soapAction="obtenerPedidosNoSinc" style="document"/>
      <wsdl:input name="obtenerPedidosNoSinc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPedidosNoSincResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirPersonasASinc">
      <soap:operation soapAction="recibirPersonasASinc" style="document"/>
      <wsdl:input name="recibirPersonasASinc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recibirPersonasASincResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibirProductosASinc">
      <soap:operation soapAction="recibirProductosASinc" style="document"/>
      <wsdl:input name="recibirProductosASinc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recibirProductosASincResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsGestPed">
    <wsdl:port name="WsGestPed" binding="tns:WsGestPedSoapBinding">
      <soap:address location="http://localhost:9090/WsGestPed"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
